
.calculator{
   
    border:1px solid #555;
    border-radius: 10px;;
    width:240px;
}
 
 .appContainer {
  background: linear-gradient(135deg, #0d0d0d, #1a1a2e); /* deep charcoal to dark blue */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.calculator {
     transform: scale(1.5);
  background: rgba(157, 158, 159, 0.15); /* light frosted glass */
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}




